openapi: 3.1.0
info:
  title: PubMed E-utilities
  version: "1.0"
  description: Search PubMed and fetch details/abstracts using NCBI E-utilities.
servers:
  - url: https://eutils.ncbi.nlm.nih.gov/entrez/eutils
paths:
  /esearch.fcgi:
    get:
      operationId: esearchPubMed
      summary: Search PubMed
      parameters:
        - in: query
          name: db
          required: true
          schema: { type: string, enum: [pubmed] }
        - in: query
          name: term
          required: true
          schema: { type: string }
        - in: query
          name: retmax
          schema: { type: integer, minimum: 1, maximum: 200 }
        - in: query
          name: retstart
          schema: { type: integer, minimum: 0 }
        - in: query
          name: sort
          schema: { type: string, enum: [relevance, pub+date, author, journal] }
        - in: query
          name: datetype
          schema: { type: string, enum: [pdat, edat] }
        - in: query
          name: mindate
          schema: { type: string }
        - in: query
          name: maxdate
          schema: { type: string }
        - in: query
          name: retmode
          schema: { type: string, enum: [json, xml] }
        - in: query
          name: field
          schema: { type: string }
        - in: query
          name: api_key
          schema: { type: string }
        - in: query
          name: tool
          schema: { type: string }
        - in: query
          name: email
          schema: { type: string, format: email }
      responses:
        "200":
          description: ESearch JSON
          content:
            application/json:
              schema:
                type: object
                properties: {}
  /esummary.fcgi:
    get:
      operationId: esummaryPubMed
      summary: Get PubMed metadata
      parameters:
        - in: query
          name: db
          required: true
          schema: { type: string, enum: [pubmed] }
        - in: query
          name: id
          required: true
          schema:
            type: string
            description: Comma-separated PMIDs
        - in: query
          name: retmode
          schema: { type: string, enum: [json, xml] }
        - in: query
          name: api_key
          schema: { type: string }
        - in: query
          name: tool
          schema: { type: string }
        - in: query
          name: email
          schema: { type: string, format: email }
      responses:
        "200":
          description: ESummary JSON
          content:
            application/json:
              schema:
                type: object
                properties: {}
  /efetch.fcgi:
    get:
      operationId: efetchPubMed
      summary: Fetch PubMed abstracts
      parameters:
        - in: query
          name: db
          required: true
          schema: { type: string, enum: [pubmed] }
        - in: query
          name: id
          required: true
          schema:
            type: string
            description: Comma-separated PMIDs
        - in: query
          name: retmode
          schema: { type: string, enum: [text, xml] }
        - in: query
          name: rettype
          schema: { type: string, enum: [abstract, medline, uilist, full] }
        - in: query
          name: api_key
          schema: { type: string }
        - in: query
          name: tool
          schema: { type: string }
        - in: query
          name: email
          schema: { type: string, format: email }
      responses:
        "200":
          description: Abstract text or XML
          content:
            text/plain:
              schema: { type: string }
            application/xml:
              schema:
                type: object
                properties: {}
components:
  schemas: {}
